{% extends 'base.html.twig' %}

{% block title %}Calcul du Salaire
{% endblock %}

{% block body %}
	<h1>Calcul du Salaire</h1>
	<form method="get" action="{{ path('salaire') }}">
		<input type="text" name="salaireBrut" placeholder="Salaire Brut" value="{{ salaireBrut }}">
		<button type="submit">Calculer</button>
	</form>

	{% if data %}
		<div>
			{% set salaireNet = data.evaluate[0].nodeValue %}
			<p>Salaire Net Avant Impôt:
				{{ salaireNet }}</p>
		</div>
	{% else %}
		<p>Entrez un salaire brut pour calculer le salaire net.</p>
	{% endif %}
{% endblock %}
