{# templates/salaire/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Calcul du Salaire
{% endblock %}

{% block body %}
	<h1>Calcul du Salaire</h1>
	<form method="post" action="{{ path('salaire') }}">
		<input type="number" name="salaireBrut" placeholder="Salaire Brut" value="{{ salaireBrut }}">
		<button type="submit">Calculer</button>
	</form>

	{% if data %}
		<div>
			<p>Salaire Net Avant Impôt:
				{{ data['evaluate'][0]['nodeValue'] }}
				€/mois</p>
			<p>Coût Total Employeur:
				{{ data['evaluate'][1]['nodeValue'] }}
				€/mois</p>
			<!-- Ajoutez d'autres résultats ici si nécessaire -->
		</div>
	{% else %}
		<p>Entrez un salaire brut pour calculer le salaire net.</p>
	{% endif %}
{% endblock %}
